# Ignore dataset folders
*.zip
*.tar
*.tar.gz
*.rar
*.7z
dataset/
data/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
