# Virtual Environment Folders
venv/
venv312/

# Data and large model backups
data/
best_model_backup.keras

# Python artifacts
__pycache__/
*.pyc

# Local IDE files (Pycharm/VS Code)
.idea/
.vscode/

# Training history plot (optional)
training_history.png